<div class ="conatiner_bigcard">
  <div class = "big-card_photo">
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/AD72115B9CDAE873B2234BD0908CEF7B45A2D9AD9C66C699239B46E582F70A8B/scale?width=1200&aspectRatio=1.78&format=jpeg"
    alt=""
    width="250px"
    height="300px">

  </div>
  <div class = "big-card_title">
   <h1><a href=#>Saiu a nova versão do angula</a>
   </h1>
  </div>
  <div class = "big-card_description">
    <p>
      <a href=#>
      Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Integer sit amet auctor
      arcu, eu luctus libero. Phasellus dignissim
       felis diam, posuere rhoncus dui laoreet
       nec. Maecenas placerat pretium purus quis
        dictum. Vivamus cursus tempus purus in
      </a>
    </p>
  </div>

</div>
